.container-1,.container-2,.container-3, .container-4, .container-5{
    border: 1px solid black;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

.flex-box-container-1, .flex-box-container-2, .flex-box-rps , .flex-box-pick-color,
.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3 {
    border: 1px solid black;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-blackjack-row-1 , .flex-blackjack-row-2{
    background:url('https://media.istockphoto.com/vectors/poker-table-background-in-green-color-vector-id1206505233?k=6&m=1206505233&s=612x612&w=0&h=3yK8zXZmrh3-tRVtw0wY-AiTTwnqFf_mmNlIGAjlr4E=') center;
    background-repeat:no-repeat;
    background-size:cover;
    text-align:center;
    color:#ffffff;
}

.flex-blackjack-row-1 div{
    border:1px solid black;
    padding:10px;
    height:405px;
    flex:1;
}

.flex-blackjack-row-1 img{
    width:25%;
    padding:10px;
}
.flex-box-container-1 div{
    display: flex;
    padding:10px;
    border: 1px solid black;
    align-items: center;
}
.flex-blackjack-row-2 button{
    border: 1px solid black;
    padding: 10px;
}
table,th,td {
    border: 1px solid black;
    padding: 5px;
}
.flex-blackjack-row-2 div{
    border: 1px solid black;
    padding: 10px;
}
.flex-box-container-2 img{
    box-shadow:0px 10px 50px rgba(0,0,0,0.7);
    margin:10px;
}

.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37, 50,  233, 1);
}